<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link rel="stylesheet" type="text/css" href="/css/login.style.css" />
<link rel="stylesheet" type="text/css" href="/css/select.css" />
<link rel="stylesheet" type="text/css" href="/js/plugins/bootstrap-3.3.7-dist/css/bootstrap.css" />
<link rel="stylesheet" type="text/css" href="/js/plugins/summernote-master/dist/summernote.css" />
<link rel="stylesheet" type="text/css" href="/css/form.css" />

<script type="text/javascript" src="/js/plugins/jquery-2.1.4.js"></script>
<script type="text/javascript" src="/js/plugins/jquery.idTabs.min.js"></script>
<script type="text/javascript" src="/js/plugins/select-ui.min.js"></script>
<script type="text/javascript" src="/js/plugins/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/plugins/summernote-master/dist/summernote.js"></script>
<script type="text/javascript" src="/js/plugins/summernote-master/dist/lang/summernote-zh-CN.js"></script>

<script type="text/javascript" src="/js/admin/form.js"></script>
</head>

<body>
	<input type="hidden" id="formType" th:value="${type}">
	<form action="form?type=add" method="post">
		<div class="place">
			<span>位置：</span>
			<ul class="placeul">
				<li><a href="#">首页</a></li>
				<li><a href="#">发布信息</a></li>
			</ul>
		</div>
		<div class="formbody">
			<div id="usual1" class="usual">
				<div id="tab1" class="tabson">
					<div class="formtext">
						Hi，<b th:text="${session.userName}"></b>，欢迎您使用信息发布功能！
					</div>
					<input type="hidden" id="id" name="id" th:value="${newDetail.id}">
					<ul class="forminfo">
						<li><label>文章标题<b>*</b></label>
							<input id="title" name="title" type="text" class="dfinput" style="width: 518px;" th:value="${newDetail.title}"/> 
							<font style="font-weight: bold; font-style: italic;" color=red>*填写文章标题</font>
						</li>
						<li><label>文章类型<b>*</b></label>
							<div class="vocation">
								<select id="newType" name="newType" class="select1">
									<option th:each="newType : ${newTypeList}" 
									th:value="${newType.dmType}" th:text="${newType.nameType}" th:if="${newType.dmType==newDetail.newType?'selected':''}"></option>
								</select>
							</div></li>
						<li><label>文章内容<b>*</b></label> 
						<div style="width: 700px; height: 350px; display: inline-block;">
                            <input id="notice" type="hidden" th:value="${newDetail.notice}" />
							<div id="content"></div>
						</div>
						</li>
						<li><label>&nbsp;</label>
							<font style="font-weight: bold; font-style: italic;" color=red>
                                <a th:if="${type eq 'edit'}" onclick="saveArticle()" style="margin-top: 10px; display: inline-block; background: url(/images/admin/toolbg.gif) repeat-x; border: 1px solid #d3dbde; height: 33px; padding: 10px; border-radius: 3px; cursor: pointer; text-decoration: blink;"> 
                                    马上发布
                                </a>
                            </font>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</form>
</body>

</html>
