<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title th:text="'欢迎登录'+${county.name}+'市文化旅游管理后台'"></title>

<link rel="stylesheet" type="text/css" href="/css/login.style.css" />
<script type="text/javascript" src="/js/plugins/jquery.js"></script>
<script type="text/javascript" src="/js/plugins/cloud.js"></script>

<script language="javascript">
	$(function(){
    $('.loginbox').css({'position':'absolute','left':($(window).width()-692)/2});
	$(window).resize(function(){  
    $('.loginbox').css({'position':'absolute','left':($(window).width()-692)/2});
    })  
});  
</script>

</head>

<body
	style="background-color: #1c77ac; background-image: url(images/light.png); background-repeat: no-repeat; background-position: center top; overflow: hidden;">

	<form action="Login" method="post">

		<div id="mainBody">
			<div id="cloud1" class="cloud"></div>
			<div id="cloud2" class="cloud"></div>
		</div>

		<div class="logintop">
			<span th:text="'欢迎登录'+${county.name}+'市文化旅游管理后台'">欢迎登录新乐市文化旅游管理后台</span>
			<ul>
				<li><a href="/">回首页</a></li>
				<li><a href="#">帮助</a></li>
				<li><a href="#">关于</a></li>
			</ul>
		</div>

		<div class="loginbody">
			<span class="systemlogo" style="margin: 0; padding: 0; display: block;"></span>
			<div class="loginbox">
				<ul>
					<li><input id="loginname" name="loginname" type="text"
						class="loginuser" /></li>
					<li><input id="loginpwd" name="loginpwd" type="password"
						class="loginpwd" /></li>
					<li><input name="" type="submit" class="loginbtn" value="登录" />&nbsp;&nbsp;<font
						style="font-weight: bold; font-style: italic;" color=red></font></li>
				</ul>
			</div>
		</div>
		<div class="loginbm">
			 <div th:replace="masterPage/bottom.html :: bottom"></div>
		</div>
	</form>
</body>
</html>
