@charset "utf-8";
/* CSS Document */
* {
	margin: 0;
	padding: 0;
}

body {
	background: url("../New_images/bg.jpg") repeat-x top;
	font-size: 12px;
	font-family: "宋体";
	color: #825c1e;
}

.fontcss {
	font-size: 12px;
	font-family: "宋体";
	color: #825c1e;
	padding-top: 5px;
}

img {
	border: 0;
}

.tt {
	line-height: 30px;
}

a {
	text-decoration: none;
	color: #825c1e;
}

a:hover {
	text-decoration: underline;
	color: #930;
}

.head {
	height: 225px;
	width: 100% px;
	margin: 0 auto;
}

.top {
	width: 100%;
	height: 43px;
	margin: 0 auto;
	background: url("../New_images/index_02.png") repeat-x top;
}

.nav {
	height: 181px;
	width: 1002px;
	margin: 0 auto;
	background: url("../New_images/head_bg.png") no-repeat left bottom;
}

.nav_m li {
	float: left;
	list-style: none;
	width: 75px;
	background: url("../New_images/index_09.png") right no-repeat;
	text-align: center;
}

.nav_m li:hover {
	background: url("../New_images/nav_bg.png") no-repeat;
}

.banner {
	height: 306px;
	width: 1002px;
	margin: 0 auto;
	padding-top : 59px;
	background: url("../New_images/index_38.png") no-repeat top;
	padding-top: 59px;
}

.part_1 {
	width: 1002px;
	height: 260px;
	margin: 0 auto;
	background: url("../New_images/index_48.jpg") repeat-x #ffe9ad;
}

.t_w p {
	margin-bottom: 5px;
}

.news {
	line-height: 25px;
	
}

.news ul {
	padding: 0px;
}

.news ul li {
	background: url("../New_images/index_50.png")
		/*tpa=   /New_images/index_50.png*/   no-repeat left;
	border-bottom: 1px dotted #999999;
	height: 28px;
	list-style: none;
	line-height: 28px;
	padding-left: 20px;
}

.float_l {
	float: left;
}

.float_r {
	float: right;
}

.part_2 {
	width: 1002px;
	margin: 0 auto;
	height: 230px;
	background: #ffe9ad;
	border-bottom: 1px dotted #999999;
}

.di {
	padding-top: 20px;
}

.di img {
	padding: 4px;
	background: url("../New_images/index_03.jpg")
		/*tpa=   /New_images/index_03.jpg*/   no-repeat;
}

.dcjj p {
	margin: 10px;
	text-indent: 2em;
	line-height: 20px;
	margin-right: 25px;
}

.vedio {
	padding: 2px;
	border: 1px solid #cc9966;
}

.part_3 {
	width: 1002px;
	margin: 0 auto;
	height: 230px;
	background: #ffe9ad;
	border-bottom: 1px dotted #999999;
}

.part_4 {
	width: 1002px;
	height: 173px;
	margin: 0 auto;
	background: url("../New_images/index_32.png")
		/*tpa=   /New_images/index_32.png*/   left center no-repeat #ffe9ad;
	text-align: center;
	padding-top: 5px;
}

.jqgl img {
	padding: 2px;
	border: 1px solid #CCC;
}

.part_5 {
	padding-top: 10px;
	width: 1002px;
	height: 147px;
	margin: 0 auto;
	background: #ffe9ad;
}

.fwzn a {
	color: #333;
}

.fwzn a:hover {
	color: #900;
}

.fwzn li {
	line-height: 24px;
	list-style: none;
}

.part_6 {
	width: 1002px;
	height: 317px;
	margin: 0 auto;
	padding-top: 10px;
	padding-bottom: 24px;
	background: #ffe9ad;
}

.ykzz_titile {
	font-size: 14px;
	font-weight: bold;
}

.ykzz_li li {
	line-height: 26px;
	list-style: none;
	padding-left: 10px;
	background: url("../New_images/sj.png") /*tpa=   /New_images/sj.png*/  
		no-repeat left;
	border-bottom: 1px dotted #914719;
	text-align: left;
}

.copyright {
	height: 100px;
	width: 1002px;
	margin: 0 auto;
	text-align: center;
	padding-top: 30px;
	line-height: 24px;
	color: #CCC;
	background: url("../New_images/index_83-40.png")
		/*tpa=   /New_images/index_83-40.png*/   no-repeat top;
}

.main {
	width: 1002px;
	height: auto;
	margin: 0 auto;
	background: url("../New_images/l_25.png")
		/*tpa=   /New_images/l_25.png*/   left bottom no-repeat #FFE9AD;
}

.main_bg {
	background: url("../New_images/index_48.jpg")
		/*tpa=   /New_images/index_48.jpg*/   repeat-x top;
}

.left_titile li {
	line-height: 26px;
	list-style: none;
	text-align: center;
	height: 26px;
	border-bottom: 1px dashed #e0bb51;
	background: url("../New_images/l_15.png")
		/*tpa=   /New_images/l_15.png*/   no-repeat left;
}

.left_titile li a:hover {
	background: url("../New_images/l_07.png") no-repeat center center;
	display: block;
	color: #CCC;
	text-decoration: none;
}

.right_title {
	font-size: 16px;
	font-weight: bold;
	padding-left: 10px;
	color: #000;
	font-family: "微软雅黑";
}

.adress {
	padding-right: 20px;
	font-size: 14px;
	color: #000;
}

.xw ul {
	padding-top: 3px;
}

.xw ul li {
	background: url("../New_images/l_19.png") no-repeat left;
	height: 28px;
	width: 95%;
	list-style: none;
	line-height: 28px;
	padding-left: 10px;
	font-family: "宋体";
	font-size: 14px;
	padding-right: 10px;
	margin-left: 10px;
	border-bottom: 1px dotted #e0bb51;
}

.page {
	font-size: 14px;
	color: ##825c1e;
}

.t_wen img {
	padding: 2px;
	border: 1px solid #FC6;
	background: #FFF;
}

.t_wen p {
	margin-top: 10px;
	font-size: 14px;
}

.Article_title {
	font-size: 18px;
	font-family: "微软雅黑";
	color: #825c1e;
}

.from {
	color: #cc9933;
}

.article p {
	line-height: 24px;
	font-size: 14px;
	text-indent: 2em;
	padding-top: 10px;
	padding-right: 10px;
}

.disss {
	display: none;
}