<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dechy.travel.show.mapper.CountyMapper">
	<resultMap type="com.dechy.travel.show.model.County" id="orderFlow">
		<result column="technical_support" property="technicalSupport" />
	</resultMap>
	<select id="findCounty" resultType="com.dechy.travel.show.model.County" 
	resultMap="orderFlow">
		select t.id, t.name, n.notice as synopsis, t.sponsor, t.contractor, t.technical_support from county t left join new_detail n on t.synopsis=n.id
	</select>
	
</mapper>
