<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dechy.travel.show.mapper.MapUrlMapper">
	<resultMap type="com.dechy.travel.show.model.MapUrl" id="orderFlow">
		<result column="map_name" property="mapName" />
		<result column="map_url" property="mapUrl" />
	</resultMap>
	<select id="findMapList" resultType="com.dechy.travel.show.model.MapUrl" 
	resultMap="orderFlow">
		select * from map_url
	</select>
	
</mapper>
