<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="${session.county.name}+'市旅游'">title</title>

<meta http-equiv="pragma" content="no-cache">
<meta http-equiv="cache-control" content="no-cache">
<meta http-equiv="expires" content="0">
<meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
<meta http-equiv="description" content="This is my page">

<link rel="stylesheet" type="text/css" href="/css/style.css" />
<link rel="stylesheet" type="text/css" href="/css/jquery.slideBox.css"></link>

<script type="text/javascript" src="/js/plugins/jquery.js"></script>
<script type="text/javascript" src="/js/plugins/tab.js"></script>
<script type="text/javascript" src="/js/plugins/swfobject_modified.js"></script>
<script type="text/javascript" src="/js/plugins/jquery.slideBox.js"></script>
<script type="text/javascript" src="/js/plugins/jquery.slideBox.min.js"></script>

</head>

<body>
	<div style="text-align: center; width: 100%">
		<!--头部-->
		<div class="head">
			<div th:replace="masterPage/top :: top"></div>
		</div>
		<!--首页中间内容-->
		<!--二级左边导航-->
		<div class="main">
			<table width="100%" border="0" cellspacing="0" cellpadding="0"
				class="main_bg">
				<tr>
					<td width="210" align="center" valign="top">
						<table width="100%" border="0" cellspacing="0" cellpadding="0">
							<tr>
								<td align="center">
									<table width="160" border="0" cellspacing="0" cellpadding="0">
										<tr>
											<td height="97" align="left" valign="bottom"><img
												src="/images/sysImages/l_jqdt.png" width="144" height="65" /></td>
										</tr>
										<tr>
											<td class="left_titile">
												<ul>
													<!--<li><a href="NewList?type=1">旅游攻略</a></li>-->
													<li th:each="newType : ${session.typeList}">
														<a th:href="@{'/newList/'+${newType.dmType}}" th:text="${newType.nameType}"></a>
													</li>
												</ul>
											</td>
										</tr>
									</table>
								</td>
							</tr>
							<tr>
								<td height="200" align="left" valign="top"><img
									src="/images/sysImages/l_22.png" width="172" height="194" /></td>
							</tr>
							<tr>
								<td height="300">&nbsp;</td>
							</tr>
						</table>
					</td>
					<td valign="top" width="792">
						<table width="100%" border="0" cellspacing="0" cellpadding="0">
							<tr>
								<td height="55" valign="top"
									style="background: url(/images/sysImages/l_03.png) no-repeat bottom">
									<table width="100%" border="0" cellspacing="0" cellpadding="0">
										<tr>
											<td width="443" height="55" class="right_title"></td>
											<td width="349" align="right" class="adress">您现在位置：<a
												href="/">首页</a>&nbsp;>&nbsp; 
												<span id="itmeName" style="color: #825c1e;"
												th:text="${dmNewType.nameType}"></span>
											</td>
										</tr>
									</table>
								</td>
							</tr>
							<tr>
								<td valign="top" class="xw">
									<table id="ctl00_right_NewsList1_list" cellspacing="0"
										cellpadding="0" border="0"
										style="width: 100%; border-collapse: collapse;">
										<tr th:each="jqdt : ${news}">
											<td>
												<ul class="">
													<li>
														<table cellpadding="0" cellspacing="0" width="90%"
															border="0" class="fontcss">
															<tr>
																<td align="left"><a
																	th:href="@{/newDetail/{href}/{type}(href=${jqdt.id},type=${jqdt.newType})}"
																	th:title="${jqdt.title}" th:text="${jqdt.title}"> </a></td>
																<td align="right" th:text="${jqdt.createDate}"></td>
															</tr>
														</table>
													</li>
												</ul>
											</td>
										</tr>
									</table> <br />
								</td>
							</tr>

						</table>
					</td>
				</tr>
			</table>
		</div>

		<!--二级右边内容-->
		<!--所有页面下方版权-->
		<div th:replace="masterPage/bottom.html :: bottom"></div>
	</div>
</body>
</html>
