<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
    <div th:fragment="bottom">
        <!--所有页面下方版权-->
        <div class="copyright">
            <font face="Arial">
                <p>
                    <font color="#000" th:text="'主办：'+${county.sponsor}+'&nbsp;&nbsp;&nbsp;&nbsp;承办：'+${county.contractor}+'&nbsp;&nbsp;&nbsp;&nbsp;技术支持：'+${county.technicalSupport}"></font>
                </p>
                <p>
                    <font color="#ff6600">
                        <!--地址：中国&middot;河北省&middot;井陉县幸福西街与建设南路交叉口 -->
                    </font>
                </p>
            </font>
        </div>
    </div>
</body>
</html>