<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
    <div th:fragment="top">
        <div class="top"></div>
        <div class="nav">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td width="260" height="181" style="padding-left: 40px;"><img
                        src="/images/sysImages/logo.png" style="margin-left: -30px;" /></td>
                    <td width=""></td>
                    <td class="nav_m" width="760">
                        <ul>
                            <li><a href="/"> <img
                                    src="/images/sysImages/index_07.png" width="32" height="104" />
                            </a></li>
                            <li><a href="/about"> <img
                                    src="/images/sysImages/index_11.png" width="32" height="104" />
                            </a></li>
                            <li><a href="../../forum/index.jsp"
                                > <img
                                    src="/images/sysImages/index_15.png" width="32" height="104" />
                            </a></li>
                            <li><a href="NewList?type=0"
                                > <img
                                    src="/images/sysImages/index_17.png" width="32" height="104" />
                            </a></li>
                            <li><a href="NewList?type=4"> <img
                                    src="/images/sysImages/index_19.png" width="32" height="104" />
                            </a></li>
                            <li><a href="admin/login.jsp" target="_blank "> <img
                                    src="/images/sysImages/index_21.png" width="32" height="104" />
                            </a></li>
                            <li><a href="../../hhmap/index.html" target="_blank "> <img
                                    src="/images/sysImages/index_0025.png" width="32" height="104" />
                            </a></li>
                        </ul>
                    </td>
                </tr>
            </table>
        </div>
        <div class="banner">
            <script type="text/javascript" src="/js/top.js"></script>
            <div id="demo1" class="slideBox">
                <ul class="items">
                    <li th:each="topNew : ${newList}">
                        <a th:title="${topNew.title}">
                            <img th:src="@{${topNew.src}}" width="1000px" height="308px"/>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>
