<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
    <div th:fragment="top">
        <div class="top"></div>
        <div class="nav">
            <table width="100%" border="0" cellspacing="0" cellpadding="0" id="topBar">
                <tr>
                    <td width="260" height="181" style="padding-left: 40px;"><img
                        src="/images/sysImages/logo.png" style="margin-left: -30px;" /></td>
                    <td width=""></td>
                    <td class="nav_m" width="760">
                        <ul>
                            <li onclick="window.location.href='/'"><a href="javaScript:void(0)"> 
                            	<!-- <img src="/images/sysImages/index_07.png" width="32" height="104" /> -->
                                网</br>站</br>首</br>页
                            </a></li>
                            <li onclick="window.location.href='/about'"><a href="javaScript:void(0)"> 
                            	<!-- <img src="/images/sysImages/index_11.png" width="32" height="104" /> -->
                            	走</br>进</br>新</br>乐
                            </a></li>
                            <li onclick="window.location.href='/newList/2'"><a href="javaScript:void(0)">
								<!-- <img src="/images/sysImages/index_17.png" width="32" height="104" /> -->
								新</br>乐</br>文</br>化
							</a></li>
                            <li onclick="window.location.href='/newList/3'"><a href="javaScript:void(0)"> 
                            	<!-- <img src="/images/sysImages/index_19.png" width="32" height="104" /> -->
                            	周</br>边</br>景</br>区	
                            </a></li>
                            <li onclick="window.open('/admin/login')"><a href="javaScript:void(0)" target="_blank "> 
                            	<!-- <img src="/images/sysImages/index_21.png" width="32" height="104" /> -->
                            	景</br>点</br>维</br>护
                            </a></li>
                            <li onclick="window.open('/admin/login')"><a href="javaScript:void(0)" target="_blank "> 
                            	<!-- <img src="/images/sysImages/index_0025.png" width="32" height="104" /> -->
                            	景</br>点</br>地</br>图
                            </a></li>
                        </ul>
                    </td>
                </tr>
            </table>
        </div>
        <div class="banner">
            <script type="text/javascript" src="/js/top.js"></script>
            <div id="demo1" class="slideBox">
                <ul class="items">
                    <li th:each="topNew : ${session.newList}">
                        <a th:title="${topNew.title}">
                            <img th:src="@{${topNew.src}}" width="1000px" height="308px"/>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>
